/* Simple Btn */
.mc-btn-primary {
    background-color: #2459F1;
    color: white;
    text-decoration: none;
    width: 100px;
    padding: 15px;
    border-radius: 4px;
}
.mc-btn-primary:hover {
    outline: solid white 1px;
    box-shadow: 0 0 3px #ddd;
    /* border: white 1px solid; */
}
/* ********************* */
.mc-btn-green {
    background-color: green;
    color: white;
    text-decoration: none;
    width: 100px;
    padding: 15px;
    border-radius: 4px;
}
.mc-btn-green:hover {
    outline: solid white 1px;
    box-shadow: 0 0 3px #ddd;
    /* border: white 1px solid; */
}
/* ********************** */
.mc-btn-red {
    background-color: red;
    color: white;
    text-decoration: none;
    width: 100px;
    padding: 15px;
    border-radius: 4px;
}
.mc-btn-red:hover {
    outline: solid white 1px;
    box-shadow: 0 0 3px #ddd;
    /* border: white 1px solid; */
}
/* ************************ */
.mc-btn-black {
    background-color: black;
    color: white;
    text-decoration: none;
    width: 100px;
    padding: 15px;
    border-radius: 4px;
}
.mc-btn-black:hover {
    outline: solid white 1px;
    box-shadow: 0 0 3px #ddd;
    /* border: white 1px solid; */
}
/* ************************** */
.mc-btn-coral {
    background-color: #FF7F50;
    color: white;
    text-decoration: none;
    width: 100px;
    padding: 15px;
    border-radius: 4px;
}
.mc-btn-coral:hover {
    outline: solid white 1px;
    box-shadow: 0 0 3px #ddd;
    /* border: white 1px solid; */
}
/* ***************************** */
.mc-btn-jigar {
    background-color: #bd2f2f;
    color: white;
    text-decoration: none;
    width: 100px;
    padding: 15px;
    border-radius: 4px;
}
.mc-btn-jigar:hover {
    outline: solid white 1px;
    box-shadow: 0 0 3px #ddd;
    /* border: white 1px solid; */
}
/* **************************** */
/* btn outline style */
/* **************************** */
.mc-btn-outline-primary {
    color: #2459F1;
    outline: #2459F1 solid 2.5px;
    text-decoration: none;
    width: 100px;
    padding: 15px;
}
.mc-btn-outline-primary:hover {
    background-color: #2459F1;
    color: white;
}
/* **************************** */
.mc-btn-outline-green {
    color: green;
    outline: green solid 2.5px;
    text-decoration: none;
    width: 100px;
    padding: 15px;
}
.mc-btn-outline-green:hover {
    background-color: green;
    color: white;
}
/* ************************** */
.mc-btn-outline-red {
    color: red;
    outline: red solid 2.5px;
    text-decoration: none;
    width: 100px;
    padding: 15px;
}
.mc-btn-outline-red:hover {
    background-color: red;
    color: white;
}
/* ************************* */
.mc-btn-outline-black {
    color: black;
    outline: black solid 2.5px;
    text-decoration: none;
    width: 100px;
    padding: 15px;
}
.mc-btn-outline-black:hover {
    background-color: black;
    color: white;
}
/* ************************* */
.mc-btn-outline-coral {
    color: coral;
    outline: coral solid 2.5px;
    text-decoration: none;
    width: 100px;
    padding: 15px;
}
.mc-btn-outline-coral:hover {
    background-color: coral;
    color: white;
}
/* *************************** */
.mc-btn-outline-jigari {
    color: #bd2f2f;
    outline: #bd2f2f solid 2.5px;
    text-decoration: none;
    width: 100px;
    padding: 15px;
}
.mc-btn-outline-jigari:hover {
    background-color: #bd2f2f;
    color: white;
}