/* Start Flex-Box */
.mc-row {
    display: flex;
    flex-direction: row !important;
}

.mc-column {
    display: flex;
    flex-direction: column !important;
}

/* flex reverse */
.mc-row-reverse {
    display: flex;
    flex-direction: row-reverse !important;
}

.mc-column-reverse {
    display: flex;
    flex-direction: column-reverse !important;
}

/* flex wrap */
.mc-row-wrap {
    display: flex;
    flex-flow: row wrap;
}

.mc-column-wrap {
    display: flex;
    flex-flow: column wrap;
}

/* Flex Center */
.mc-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mc-flex-align-center {
    display: flex;
    align-items: center;
}

.mc-flex-justify-center {
    display: flex;
    justify-content: center;
}

/* flex align property */
.mc-flex-align-start {
    display: flex;
    align-items: flex-start;
}
.mc-flex-align-end {
    display: flex;
    align-items: flex-end;
}
.mc-flex-align-baseline {
    display: flex;
    align-items: baseline;
}
.mc-flex-align-stretch {
    display: flex;
    align-items: stretch;
}
.mc-flex-align-baseline {
    display: flex;
    align-items: baseline;
}

/* flex justify property */
.mc-flex-justify-start {
    display: flex;
    justify-content: flex-start;
}
.mc-flex-justify-end {
    display: flex;
    justify-content: flex-end;
}
.mc-flex-justify-spacebetween {
    display: flex;
    justify-content: space-between;
}
.mc-flex-justify-spacearound {
    display: flex;
    justify-content: space-around;
}
.mc-flex-justify-spaceevenly {
    display: flex;
    justify-content: space-evenly;
}
.mc-flex-justify-stretch {
    display: flex;
    justify-content: stretch;
}
.mc-flex-justify-baseline {
    display: flex;
    justify-content: baseline;
}

